@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Poppins;
    src: url('Poppins.ttf');
}

@layer base {
    * {
        @apply font-Poppins;
    }

    input {
        color-scheme: dark;
    }

    ::-webkit-calendar-picker-indicator {
        cursor: pointer;
    }

    ::-webkit-scrollbar {
        width: 10px
    }

    ::-webkit-scrollbar-thumb {
        background: #888;
        border-radius: 1rem
    }

    ::-webkit-scrollbar-thumb:hover {
        background: #555
    }
}